     @import '../node_modules/bootstrap/scss/bootstrap.scss';
     nav {
         background-color: rgb(10, 15, 157);
     }
     
     .btn {
         background-color: rgb(10, 10, 10);
         color: white;
     }
     
     .btn:hover {
         background-color: rgb(10, 115, 157);
     }